$white: #ffffff;
$grey-lightest: #faf8f8;
$grey-lighter: #e6e5e4;
$grey-light: #d2d1d0;
$grey: #c0bebd;
$grey-dark: #989696;
$grey-darker: #706f6e;
$grey-darkest: #4a4848;
$black: #222120;

$brand-light: #fbd6c0;
$brand: #cb5e00;
$brand-dark: #63310e;

$cta-light: #d3f3f0;
$cta: #00cbc3;
$cta-dark: #1e615d;

$info-light: #e3f0f2;
$info: #8bc5cd;
$info-dark: #455e61;

$warning-light: #ffefca;
$warning: #f6c400;
$warning-dark: #745d16;

$success-light: #e1f5cf;
$success: #78d436;
$success-dark: #3e6522;

$danger-light: #ffd3ca;
$danger: #f5403a;
$danger-dark: #752720;
