
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway|Cabin");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "navigation";

html {
    font-size: 16px; // Broweser's Default value
}

body {
    background: $grey-light;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
}

.igrowl-message, .igrowl-title {
    font-size: 1rem !important;
    line-height: inherit !important;
}

.breadcrumb {
    padding: 0.4rem 1rem !important;
    background: $white !important;

    & li a {
        color: $cta;

        &:hover, &:focus {
            color: $cta-dark;
            outline: none;
        }
    }
}

.card {
    border: none;

    & .card-header {
        background: $brand !important;

        & .header {
            font-size: 1.8rem;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            color: $cta-light !important;
        }
    }

    & .card-body {
        background: $white;

        table.dataTable {
            border-collapse: collapse !important;
        }

        table.table {
            & thead {
                background: $cta;
                color: $white;
                font-size: .8rem;
            }

            & tbody tr {
                color: $black;
                font-size: .8rem;
            }

            & tbody tr.deletedRow {
                background: $danger !important;
                color: $white !important;
            }
        }

        form .form-control,
        form .form-control-sm, {
            outline: none !important;
            box-shadow: none !important;
            border-color: none !important;
        }

        form .submitButton {
            width: 40%;
            color: $white;
            background: $cta-dark;
            letter-spacing: 2px;
            font-weight: bold;

            &:hover, &:focus {
                color: $brand;
                background: $cta-dark;

                outline: none !important;
                box-shadow: none !important;
                border-color: none !important;
            }
        }
    }
}

.modal-open {
    overflow-y: auto
}

.modal {
    border: none;

    & .modal-header {
        background: $brand !important;

        & .modal-title {
            font-size: 1.2rem;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            color: $cta-light !important;
        }
    }

    & .modal-body {
        background: $white;

        form .form-control,
        form .form-control-sm, {
            outline: none !important;
            box-shadow: none !important;
            border-color: none !important;
        }

        form .submitButton {
            width: 40%;
            color: $white;
            background: $cta-dark;
            letter-spacing: 2px;
            font-weight: bold;

            &:hover, &:focus {
                color: $brand;
                background: $cta-dark;

                outline: none !important;
                box-shadow: none !important;
                border-color: none !important;
            }
        }
    }
}

.mainSiteLink {
    color: $cta-dark;
    outline: none;
    box-shadow: none;

    &:hover {
        color: $cta;
        text-decoration: none;
    }
}

.bootstrap-maxlength {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    padding: 0 2px;

    &.mxlSuccess {
        background: $success !important;
    }
}

.selectize-control.multipleSelect .selectize-input .item {
    background: $cta-dark !important;
    color: $white !important;
}

@media screen and (max-width: 767px) {
    .card .card-header .float-right {
        float: none !important;
    }
}
